<%- include('partials/header'); -%>
<h1>About</h1>
<p>This project was created using HTML, CSS, Bootstrap, Node.js, Express and MongoDB.</p>
<p><a href="https://www.linkedin.com/in/tanishabelkar/">LinkedIN</a></p>
<p><a href="https://www.linkedin.com/in/tanishabelkar/">GitHub</a></p>
<%- include('partials/footer'); -%>